.more-video{
    padding: 1rem;
}
.more-video-container{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.more-video-pri-container{
    width: 130px;
    height: 80px;
}
.more-video-sec-container{
    display: flex;
    flex-direction: column;
}